<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Admin Panel</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="glow"></div>
<div class="glow2"></div>

<div class="main-full">

    <!-- TOP -->

    <div class="progress-top">

        <div>

            <h1 class="progress-heading">

                ADMIN PANEL

            </h1>

            <p class="progress-subtitle">

                Manage users and monitor platform activity.

            </p>

        </div>

    </div>

    <!-- BUTTONS -->

    <a href="/dashboard"

    onclick="window.location.replace('/dashboard')">

        <button class="logout-btn"
        style="margin-bottom:20px;">

            BACK TO DASHBOARD

        </button>

    </a>

    <a href="/admin_logout"

    onclick="window.location.replace('/')">

        <button class="logout-btn"
        style="margin-bottom:30px;">

            ADMIN LOGOUT

        </button>

    </a>

    <!-- GRID -->

    <div class="grid">

        <!-- USERS -->

        <div class="card">

            <div class="icon">

                <i class="fa-solid fa-users"></i>

            </div>

            <h2>

                REGISTERED USERS

            </h2>

            <h1 style="
            font-size:65px;
            margin-top:20px;
            color:white;
            ">

                {{ total_users }}

            </h1>

        </div>

        <!-- STATUS -->

        <div class="card">

            <div class="icon">

                <i class="fa-solid fa-chart-simple"></i>

            </div>

            <h2>

                SYSTEM STATUS

            </h2>

            <p>

                ACTIVE

            </p>

        </div>

        <!-- SECURITY -->

        <div class="card">

            <div class="icon">

                <i class="fa-solid fa-shield-halved"></i>

            </div>

            <h2>

                SECURITY

            </h2>

            <p>

                SECURED

            </p>

        </div>

    </div>

    <!-- USER LIST -->

    <div class="card"
    style="margin-top:35px;">

        <h2 style="margin-bottom:25px;">

            USER LIST

        </h2>

        {% for user in users %}

        <p style="
        margin-bottom:15px;
        font-size:22px;
        color:#cbd5e1;
        ">

            {{ user }}

        </p>

        {% endfor %}

    </div>

</div>

</body>

</html>