<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>AI Interview System</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<!-- GLOW -->

<div class="glow"></div>

<div class="glow2"></div>

<!-- HERO -->

<div class="hero-page">

    <!-- LEFT -->

    <div class="hero-left">

        <div class="hero-content">

            <h1>

                AI INTERVIEW
                SYSTEM

            </h1>

            <p>

                Futuristic AI based hiring platform
                for modern technical and HR interviews.

            </p>

            <div class="hero-buttons">

                <a href="/login">

                    <button>

                        LOGIN

                    </button>

                </a>

                <a href="/register">

                    <button>

                        REGISTER

                    </button>

                </a>

            </div>

        </div>

    </div>

    <!-- RIGHT -->

    <div class="hero-right">

        <div class="hero-card">

            <div class="hero-icon">

                <i class="fa-solid fa-robot"></i>

            </div>

            <h2>

                AI POWERED

            </h2>

            <p>

                Smart AI based interview experience
                with futuristic dashboard.

            </p>

        </div>

        <div class="hero-card">

            <div class="hero-icon">

                <i class="fa-solid fa-chart-line"></i>

            </div>

            <h2>

                PROGRESS TRACKING

            </h2>

            <p>

                Analyze interview performance
                and improve skills.

            </p>

        </div>

    </div>

</div>

</body>

</html>